.Search {
  padding: 50px;
}

.Search-input {
  background-color: #eef3ee;
  width: 400px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.Search-text {
  color: #656565;
  font-weight: bold;
  padding: 10px 0;
}
